[Unit]
Description=HA Sinkhole DNS Resolver
PartOf=ha-node-pod.service
Wants=network-online.target
After=network-online.target
# Ensures the blocklist file exists before this service starts for the first time
Requires=blocklist-updater.service
After=blocklist-updater.service

[Container]
Pod=ha-node.pod
Image=ghcr.io/radiusred/ha-sinkhole/dns-resolver:{{ ha_sinkhole_manifest[install_channel]['dns-resolver'] | default('MISSING_VERSION') }}
Environment=LOCAL_DOMAIN={{ local_domain | default('') }}
Environment=LOCAL_UPSTREAM_DNS="{{ local_upstream_dns | default('') }}"
Environment=UPSTREAM_DNS="{{ upstream_dns | default('') | join(' ') }}"
Environment=TRUSTED_NETS="{{ trusted_nets | default('') | join(' ') }}"
Volume={{ ha_sinkhole_common_dir }}/data:/data:Z
LogDriver=journald

[Service]
Restart=always

[Install]
WantedBy=default.target
