[Unit]
Description=HA Sinkhole VIP Manager
Wants=network-online.target
After=network-online.target

[Container]
Image=ghcr.io/radiusred/ha-sinkhole/vip-manager:{{ ha_sinkhole_manifest[install_channel]['vip-manager'] | default('MISSING_VERSION') }}
Environment=VIRTUAL_IP={{ vip }}
Environment=VRRP_SECRET={{ vrrp_secret }}
Environment=NODE_STATE={{ host_vars.state | default('BACKUP') }}
Environment=NODE_PRIORITY={{ host_vars.priority | default('100') }}
{% if host_vars.interface is defined %}Environment=INTERFACE={{ host_vars.interface }}{% endif %}
{% if host_vars.vrrp_router_id is defined %}Environment=VRRP_ROUTER_ID={{ host_vars.vrrp_router_id }}{% endif %}
Network=host
AddCapability=NET_ADMIN NET_RAW
LogDriver=journald

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
